{% extends 'base.html.twig' %}

{% block body %}
    <h1>Replies list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Reallypresent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reply in replies %}
            <tr>
                <td><a href="{{ path('reply_show', { 'id': reply.id }) }}">{{ reply.id }}</a></td>
                <td>{% if reply.reallyPresent %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reply_show', { 'id': reply.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reply_edit', { 'id': reply.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reply_new') }}">Create a new reply</a>
        </li>
    </ul>
{% endblock %}
