{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reply</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reply.id }}</td>
            </tr>
            <tr>
                <th>Reallypresent</th>
                <td>{% if reply.reallyPresent %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reply_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reply_edit', { 'id': reply.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
