{% extends 'base.html.twig' %}

{% block body %}
    <h1>Availabilities list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Freefrom</th>
                <th>Ispresent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for availability in availabilities %}
            <tr>
                <td><a href="{{ path('availability_show', { 'id': availability.id }) }}">{{ availability.id }}</a></td>
                <td>{% if availability.date %}{{ availability.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ availability.freeFrom }}</td>
                <td>{% if availability.isPresent %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('availability_show', { 'id': availability.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('availability_edit', { 'id': availability.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('availability_new') }}">Create a new availability</a>
        </li>
    </ul>
{% endblock %}
