{% extends 'base.html.twig' %}

{% block body %}
    <h1>Proposal</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proposal.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if proposal.date %}{{ proposal.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Choosed</th>
                <td>{% if proposal.choosed %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('proposal_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('proposal_edit', { 'id': proposal.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
